:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: justify;
}

.text-align-justify { text-align: justify; }
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }
.text-align-left { text-align: left; }

.d-none { display: none; }
.d-block { display: block; }
.d-inline { display: inline; }
.d-flex { display: flex; }

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
  border-radius: 5px;
  /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 1); */
  box-shadow: 0px 1px 5px rgba(122, 120, 120, 1);
}

.card div.input-container label.input-label {
    display: block;
    width: 100%;
    color: #535bf2;
    padding-bottom: 0.5rem;
    padding-left: 0.3rem;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: none;
  border-color: #646cff;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.7em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
input:hover {
  border-color: #646cff;
}
input:focus,
input:focus-visible {
  outline: none;
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

div { margin-bottom: 0.9rem; }

[data-item-id="internetStatus"],
[data-item-id="internetStatus"].undefined {
  color: gainsboro;
}

[data-item-id="internetStatus"].online {
  color: greenyellow;
}

[data-item-id="internetStatus"].offline {
  color: red;
}

[data-item-id="alertMessage"].message-error { color: orangered;}
[data-item-id="alertMessage"].message-success { color: limegreen;}
[data-item-id="alertMessage"].message-info { color: skyblue;}
[data-item-id="alertMessage"].message-warning { color: orange;}
